article {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div > button {
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 10px;
    border: 0;
    background-color: #c3c3c3;
}